{% extends "base.html.twig" %}

{% block content %}

<h1>Startseit</h1>

<div class="btn btn-primary">585edfr6t7u8</div>
<div class="btn btn-danger" >585edfr6t7u8</div> 
 











{% for item in items %}
    <p>{{ item }}
{% endfor %}

<h2>Hello World<h2>

{% endblock %}